.navbar-library-name {
  font-size: var(--fontSize7);
  color: var(--primary);
}

.navbar-library-name a {
  text-decoration: none;
}

.navbar-container {
  background-color: var(--spacingecondary);
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-side-links {
  font-size: var(--fontSize5);
  display: flex;
  align-items: center;
}

.navbar-side-links a {
  text-decoration: none;
  margin-right: var(--spacing4);
  color: var(--gun-metal);
}
