@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@600&display=swap");

html {
  font-size: 62.5%;
}
/* colors */
:root {
  --primary: rgb(127, 36, 163);
  --spacingecondary: #8eecf5;
  --text: #9c92a3;
  --background: whitesmoke;
  --background-sec: #e4dce9;
  --heading: #221d23;
  --gun-metal: #22333b;
  --danger: #e22f2f;
  --warning: orange;
  --success: rgb(58, 184, 58);

  /* typography */

  /* font-size */

  --fontSize1: 0.8rem;
  --fontSize2: 1.2rem;
  --fontSize3: 1.6rem;
  --fontSize4: 2rem;
  --fontSize5: 2.4rem;
  --fontSize6: 3.2rem;
  --fontSize7: 4rem;
  --fontSize8: 4.8rem;
  /* font-family */
  font-family: "Montserrat", sans-serif;

  /* spacing */
  --spacing1: 0.4rem;
  --spacing2: 0.8rem;
  --spacing3: 1.6rem;
  --spacing4: 2.4rem;
  --spacing5: 3.2rem;
  --spacing6: 4rem;
  --spacing7: 6.4rem;
  --spacing8: 8rem;
  --spacing9: 9.6rem;
}

h1 {
  font-size: var(--fontSize7);
}
p {
  font-size: var(--fontSize4);
}

.break {
  border: 1px solid var(--text);
  margin: var(--spacing4) 0;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: var(--spacing3);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing3);
}

.bgm-secondary {
  background-color: var(--background-sec);
}
.font-f4 {
  font-size: var(--fontSize4);
}

.font-f5 {
  font-size: var(--fontSize5);
}

.font-f6 {
  font-size: var(--fontSize6);
}

.font-f7 {
  font-size: var(--fontSize7);
}

.font-f8 {
  font-size: var(--fontSize8);
}
