@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@600&display=swap");

html {
  font-size: 62.5%;
}
/* colors */
:root {
  --primary: rgb(127, 36, 163);
  --secondary: #8eecf5;
  --text: #9c92a3;
  --background: whitesmoke;
  --background-sec: #e4dce9;
  --heading: #221d23;
  --gun-metal: #22333b;
  --danger: #e22f2f;
  --warning: orange;
  --success: rgb(58, 184, 58);

  /* typography */

  /* font-size */

  --f1: 0.8rem;
  --f2: 1.2rem;
  --f3: 1.6rem;
  --f4: 2rem;
  --f5: 2.4rem;
  --f6: 3.2rem;
  --f7: 4rem;
  --f8: 4.8rem;
  /* font-family */
  font-family: "Montserrat", sans-serif;

  /* spacing */
  --s1: 0.4rem;
  --s2: 0.8rem;
  --s3: 1.6rem;
  --s4: 2.4rem;
  --s5: 3.2rem;
  --s6: 4rem;
  --s7: 6.4rem;
  --s8: 8rem;
  --s9: 9.6rem;
}

h1 {
  font-size: var(--f7);
}
p {
  font-size: var(--f4);
}

.break {
  border: 1px solid var(--text);
  margin: var(--s4) 0;
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--s3);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}

.bgm-secondary {
  background-color: var(--background-sec);
}
.font-f4 {
  font-size: var(--f4);
}

.font-f5 {
  font-size: var(--f5);
}

.font-f6 {
  font-size: var(--f6);
}

.font-f7 {
  font-size: var(--f7);
}

.font-f8 {
  font-size: var(--f8);
}
