@import "./common-css/reset.css";
@import "./common-css/style-guide.css";
@import "./common-css//main-navbar.css";


.main-container{
  margin-top: var(--spacing6);
  padding: 0 10%;
}
.main-container-intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: var(--spacing4);

}
.main-container > img {
  width: 300px;
}

.main-heading-intro {
  color: var(--primary);
  font-size: calc(var(--fontSize1) + 2vw);
  margin-bottom: var(--spacing4);
}
.main-subheading-intro {
  font-size: calc(var(--fontSize1) + 1vw);
}

.main-text-intro {
  flex-basis: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--spacing4);
}

/* .pre-container{
  max-width: 70rem;
} */