<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <link rel="stylesheet" href="/prism.css">
    <title>input</title>
</head>

<body>
    <div class="container">
        <nav class="navbar-container">
            <div class="navbar-library-name"><a href="/index.html">bit UI</a></div>
            <div class="navbar-side-links">
                <a href="/index.html">Home</a>
                <a href="#">Github</a>
            </div>
        </nav>
        <div class="document-container">
            <div class="hamburger-sidebar">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />
            </div>
            <aside class="sidebar">
                <li>Components</li>
                <ul class="component-list">
                    <a href="/components/avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a href="">Card</a>
                    <a href="">Image</a>
                    <a class="active-item" href="">Input</a>
                    <a href="">Text Utilities</a>
                    <a href="">List</a>
                    <a href="">Navigation</a>
                    <a href="">Modal</a>
                    <a href="">Rating</a>
                    <a href="">Toast</a>
                    <a href="">Grid</a>
                    <a href="">Navigation</a>
                    <a href="">Slider</a>
                </ul>
            </aside>
            <main class="document-main">
                <div class="component-defination">
                    <h1 class="main-component">Input</h1>
                    <p>
                        Input is a very important element for interating with end user
                    </p>
                    <div class="pre-container">
                        <pre><code class="language-markup">
    <link rel="stylesheet" href="https://bitui.netlify.app/components/input/input.css">

                                        </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Form Input</h3>
                        <p>Below is an example basic form inputs</p>
                    </div>
                    <div class="component-sample flex-row bgm-secondary">
                        <form>
                            <label class="form-label" for="email">Email</label>
                            <input type="text" class="form-input">
                            <label class="form-label" for="email">Password</label>
                            <input type="text" class="form-input">
                        </form>
                    </div>

                    <div class="pre-container">
                        <pre><code class="language-markup">
    <form>
        <label class="form-label" for="email">Email</label>
        <input type="text" class="form-input">
        <label class="form-label" for="email">Password</label>
        <input type="text" class="form-input">
    </form>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Input validation</h3>
                        <p>Below is an example of Input with different validation styles</p>
                    </div>
                    <div class="component-sample flex-row bgm-secondary">
                        <form>
                            <label class="form-label" for="email">Email</label>
                            <input type="text" class="form-input validation-success">
                            <label class="form-label" for="email">Password</label>
                            <input type="text" class="form-input validation-fail">
                        </form>
                    </div>
                    <div class="pre-container">
                        <pre><code class="language-markup">
    <form>
        <label class="form-label" for="email">Email</label>
        <input type="text" class="form-input validation-success">
        <label class="form-label" for="email">Password</label>
        <input type="text" class="form-input validation-fail">
    </form>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>

                <div class="next-component">
                    <a href="">Text Utilities ></a>
                </div>
            </main>
        </div>
    </div>
    <script src="/prism.js"></script>
</body>

</html>