@import "../../common-css/reset.css";
@import "../../common-css/style-guide.css";
@import "../../common-css/navbar.css";
@import "../../common-css/documentation.css";
.btn {
  width: max-content;
  padding: var(--spacing1) var(--spacing2);
  border-radius: var(--spacing2);
  font-size: var(--fontSize4);
  color: var(--background);
  text-decoration: none;
}

.btn-danger {
  background-color: var(--danger);
}
.btn-warning {
  background-color: var(--warning);
}
.btn-success {
  background-color: var(--spacinguccess);
}

.btn-icon {
  width: var(--spacing4);
  display: inline-block;
}

.img-fab {
  width: 300px;
}
.btn-fab-container {
  position: relative;
}

.btn-fab {
  width: var(--spacing4);
  position: absolute;
  left: var(--spacing1);
  top: var(--spacing1);
  cursor: pointer;
}
