<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common-css/main.css">
    <link rel="stylesheet" href="/prism.css">
    <title>avatar</title>
</head>

<body>
    <div class="container">
        <nav class="navbar-container">
            <div class="navbar-library-name"><a href="/index.html">bit UI</a></div>
            <div class="navbar-side-links">
                <a href="/index.html">Home</a>
                <a href="#">Github</a>
            </div>
        </nav>
        <div class="document-container">
            <div class="hamburger-sidebar">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />
            </div>
            <aside class="sidebar">
                <li>Components</li>
                <ul class="component-list">
                    <a class="active-item" href="../avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a href="/components/cards/cards.html">Card</a>
                    <a href="/components/image/image.html">Image</a>
                    <a href="/components/input/input.html">Input</a>
                    <a href="/components/text-utilities/text-utilities.html">Text Utilities</a>
                    <a href="/components/list/list.html">List</a>
                    <a href="/components/navigation/navigation.html">Navigation</a>
                    <a href="/components/modal/modal.html">Modal</a>
                    <a href="/components/rating/rating.html">Rating</a>
                    <a href="/components/toast/toast.html">Toast</a>
                    <a href="/components/grid/grid.html">Grid</a>
                    <a href="/components/navigation/navigation.html">Navigation</a>
                    <a href="/components/slider/slider.html">Slider</a>
                </ul>
            </aside>
            <main class="document-main">
                <div class="component-defination">
                    <h1 class="main-component">Avatar</h1>
                    <p>
                        Avatars are custom component, and are typically used to display a user profile as a picture, an
                        icon, or short text.
                    </p>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Profile Avatar</h3>
                        <p>
                            Profile Avatar is having picture as display with different sizes as shown below
                        </p>
                    </div>
                    <div class="component-sample flex-row">
                        <img class="avatar avatar-sm" src="avatar.jpg" />
                        <img class="avatar avatar-md" src="avatar.jpg" />
                        <img class="avatar avatar-lg" src="avatar.jpg" />
                    </div>

                    <div class="pre-container">
                        <pre><code class="language-markup">
    <img class="avatar avatar-sm"
        src="avatar.jpg"/>
    <img class="avatar avatar-md" 
        src="avatar.jpg"/>
    <img class="avatar avatar-lg" 
        src="avatar.jpg"/>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Text Avatar</h3>
                        <p>
                            Text Avatar can display initial letters of user's name with different sizes as shown below
                        </p>
                    </div>
                    <div class="component-sample flex-row">
                        <div class="avatar avatar-sm avatar-txt">Hi</div>
                        <div class="avatar avatar-md avatar-txt">Hi</div>
                        <div class="avatar avatar-lg avatar-txt">Hi</div>

                    </div>

                    <div class="pre-container">
                        <pre><code class="language-markup">
    <div class="avatar avatar-sm avatar-txt">Hi</div>
    <div class="avatar avatar-md avatar-txt">Hi</div>
    <div class="avatar avatar-lg avatar-txt">Hi</div>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="next-component">
                    <a href="/components/alert/alert.html">Alert ></a>
                </div>
            </main>
        </div>
    </div>
    <script src="/prism.js"></script>
</body>

</html>