<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="/prism.css">
    <title>cards</title>
</head>

<body>
    <div class="container">
        <nav class="navbar-container">
            <div class="navbar-library-name"><a href="/index.html">bit UI</a></div>
            <div class="navbar-side-links">
                <a href="/index.html">Home</a>
                <a href="#">Github</a>
            </div>
        </nav>
        <div class="document-container">
            <div class="hamburger-sidebar">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />
            </div>
            <aside class="sidebar">
                <li>Components</li>
                <ul class="component-list">
                    <a href="/components/avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a class="active-item" href="">Card</a>
                    <a href="/components/image/image.html">Image</a>
                    <a href="/components/input/input.html">Input</a>
                    <a href="">Text Utilities</a>
                    <a href="">List</a>
                    <a href="">Navigation</a>
                    <a href="">Modal</a>
                    <a href="">Rating</a>
                    <a href="">Toast</a>
                    <a href="">Grid</a>
                    <a href="">Navigation</a>
                    <a href="">Slider</a>
                </ul>
            </aside>
            <main class="document-main">
                <div class="component-defination">
                    <h1 class="main-component">Cards</h1>
                    <p>
                        A card is a flexible and extensible content container
                    </p>
                    <div class="pre-container">
                        <pre><code class="language-markup">
    <link rel="stylesheet" href="https://bitui.netlify.app/components/cards/cards.css">

                                        </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Cards with badges</h3>
                        <p>Below is an example of a Card with badges</p>
                    </div>
                    <div class="component-sample flex-row bgm-secondary">
                        <div class="img-container">
                            <img class="img-responsive" src="/components/avatar/avatar.jpg" alt="">
                        </div>
                    </div>

                    <div class="pre-container">
                        <pre><code class="language-markup">
    <div class="img-container">
        <img class="img-responsive" src="/components/avatar/avatar.jpg" alt="">
    </div>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Round Image</h3>
                        <p>Below is an example of Round image</p>
                    </div>
                    <div class="component-sample flex-row bgm-secondary">
                        <div class="img-container">
                            <img class="img-round" src="/components/avatar/avatar.jpg" alt="">
                        </div>
                    </div>
                    <div class="pre-container">
                        <pre><code class="language-markup">
    <div class="img-container">
        <img class="img-round" src="/components/avatar/avatar.jpg" alt="">
    </div>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>

                <div class="next-component">
                    <a href="">Card ></a>
                </div>
            </main>
        </div>
    </div>
    <script src="/prism.js"></script>
</body>

</html>