.list-items li {
  list-style: none;
  margin: var(--spacing1);
  font-size: var(--fontSize4);
}
.list-items {
  margin: 0 var(--spacing3);
}
.list-head {
  font-weight: bold;
  margin: var(--spacing1);
  font-size: var(--fontSize5);
}
