<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common-css/main.css">
    <link rel="stylesheet" href="/prism.css">
    <title>text-utilities</title>
</head>

<body>
    <div class="container">
        <nav class="navbar-container">
            <div class="navbar-library-name"><a href="/index.html">bit UI</a></div>
            <div class="navbar-side-links">
                <a href="/index.html">Home</a>
                <a href="#">Github</a>
            </div>
        </nav>
        <div class="document-container">
            <div class="hamburger-sidebar">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />
            </div>
            <aside class="sidebar">
                <li>Components</li>
                <ul class="component-list">
                    <a href="/components/avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a href="/components/cards/cards.html">Card</a>
                    <a href="/components/image/image.html">Image</a>
                    <a href="/components/input/input.html">Input</a>
                    <a class="active-item" href="">Text Utilities</a>
                    <a href="/components/list/list.html">List</a>
                    <a href="/components/navigation/navigation.html">Navigation</a>
                    <a href="/components/modal/modal.html">Modal</a>
                    <a href="/components/rating/rating.html">Rating</a>
                    <a href="/components/toast/toast.html">Toast</a>
                    <a href="/components/grid/grid.html">Grid</a>
                    <a href="/components/navigation/navigation.html">Navigation</a>
                    <a href="/components/slider/slider.html">Slider</a>
                </ul>
            </aside>
            <main class="document-main">
                <div class="component-defination">
                    <h1 class="main-component">Text-utilities</h1>
                    <p>
                        Text-utilities include specific styles for headings, small text, gray text and center text.
                    </p>
                </div>
                <div class="break"></div>
                <div class="component-type">
                    <div class="component-type-defination">
                        <h3 class="main-component">Different text utilities</h3>
                        <p>All the text utilities are given below with an example</p>
                    </div>
                    <div class="component-sample flex-col bgm-secondary">
                        <div class="heading-1">Heading 1</div>
                        <div class="heading-2">Heading 2</div>
                        <div class="heading-3">Heading 3</div>
                        <div class="small-1">Small 1</div>
                        <div class="small-2">Small 2</div>
                        <div class="gray-text">Gray text</div>
                        <div class="center-text">Center text</div>
                    </div>

                    <div class="pre-container">
                        <pre><code class="language-markup">
    <div class="heading-1">Heading 1</div>
    <div class="heading-2">Heading 2</div>
    <div class="heading-3">Heading 3</div>
    <div class="small-1">Small 1</div>
    <div class="small-2">Small 2</div>
    <div class="gray-text">Gray text</div>
    <div class="center-text">Center text</div>
                    </code></pre>
                    </div>
                </div>
                <div class="break"></div>
                <div class="next-component">
                    <a href="">Text Utilities ></a>
                </div>
            </main>
        </div>
    </div>
    <script src="/prism.js"></script>
</body>

</html>